@mixin animate($animation) {
    animation: $animation;
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    -ms-animation: $animation;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(fadeInUp) {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animate-fadeinup {
    @include animate(fadeInUp 1s ease);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadein {
    @include animate(fadeIn 500ms linear forwards);
}

@include keyframes(fadeOut) {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.anmiate-fadeout {
    @include animate(fadeOut 1s ease);
}
