@import './animations/parallax.scss';

@include keyframes(fadeInUp) {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.animate-fadeinup {
    @include animate(fadeInUp 1s ease);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadein {
    @include animate(fadeIn 500ms linear forwards);
}

@include keyframes(fadeOut) {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.anmiate-fadeout {
    @include animate(fadeOut 1s ease);
}

@include keyframes(ripple) {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}

.animate-oscillate {
    @include animate(ripple 10s inifite);
    animation-direction: alternate;
}
