@mixin transform($trans) {
    transform: $trans;
    -moz-transform: $trans;
    -webkit-transform: $trans;
    -o-transform: $trans;
}

@mixin tranform-origin($trans) {
    transform-origin: $trans;
    -ms-transform-origin: $trans;
    -webkit-transform-origin: $trans;
    -moz-transform-origin: $trans;
    -o-transform-origin: $trans;
}

@mixin transition($trans) {
    -webkit-transition: $trans;
    -ms-transition: $trans;
    transition: $trans;
}

@mixin background-clip($clip) {
    background-clip: $clip;
    -moz-background-clip: $clip;
    -webkit-background-clip: $clip;
}

@mixin animate($animation) {
    animation: $animation;
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -o-animation: $animation;
    -ms-animation: $animation;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin center-vertical {
    // vertical alignment
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

@mixin overlay() {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

@mixin header {
    @extend .text-success;
    @extend .font-weight-bolder;
    text-shadow: 2px 2px rgba($light, 0.75);
}
