// will only match if the scroll is at the top. see site.ts for how the scroll position is calculated
// html[data-scroll='0'] {
//     .navbar.fade-top {
//         @include transition-color(rgba($white, 0.25));
//     }
// }

.navbar-bold {
    background-color: $white;

    padding-top: 0rem;
    padding-right: $navbar-brand-padding-y;
    padding-bottom: 0rem;

    .nav-link {
        @extend .text-dark;

        &.admin-link {
            @extend .text-danger;
        }
    }

    .nav-link,
    .navbar-brand {
        text-transform: uppercase !important;
    }

    .nav-link,
    .btn-link {
        &:hover {
            @extend .text-warning;
            @extend .font-weight-bold;
        }
        font-size: $font-size-sm;
        letter-spacing: 0.2rem;
    }

    .navbar-brand {
        @include header();
        font-size: $font-size-lg;
        letter-spacing: 0.3rem;
    }
}

.navbar-toggler {
    .navbar-toggler-icon {
        @extend %fa-icon;
        @extend .fas;
        @extend .fa-lg;
        @extend .text-success;

        height: 100%; //needed for align-middle
        text-shadow: 2px 2px $dark;

        $trans: transform 0.35s ease-in-out !default;
        -moz-transition: $trans;
        -webkit-transition: $trans;
        transition: $trans;

        &:before {
            @extend .align-middle;
            content: fa-content($fa-var-chevron-down);
        }
    }
}

button.navbar-toggler:focus {
    outline: unset;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
    $rotate: rotate(180deg) !important;
    -ms-transform: $rotate;
    -moz-transform: $rotate;
    -webkit-transform: $rotate;
    transform: $rotate;
}

.nav-link:not(.active) {
    cursor: pointer;
}

#sidebar-wrapper {
    position: absolute;
}

#sidebar {
    min-height: 100vh;
    margin-left: -15rem;
    @include transition(margin 0.25s ease-in-out);
    position: fixed;
    min-width: 15rem;
    max-width: 95vw;
    z-index: 1000;
    top: 3rem; //get out of the way of the top nav

    .sidebar-heading {
        padding-left: 5px;
    }

    .sidebar-slider {
        @extend .bg-primary;
        @include transform(rotate(90deg));
        @include tranform-origin(left bottom);

        cursor: pointer;

        border-radius: 5px 5px 0px 0px;

        position: absolute;
        top: 3.5rem;
        margin-left: 15rem;
        width: 8rem;
        text-align: center;

        // &.expaned {
        //     margin-left: 15rem;
        // }
    }

    &.expanded {
        margin-left: 0;
    }
}
