@import './mixins';

body {
    position: relative;
    margin-bottom: 75px !important;
}

.center-vertical {
    @include center-vertical();
}

div.center-vertical {
    width: 100%;
    left: 0;
}

.bg-fixed {
    background-attachment: fixed;
    background-position: center;
}

.navbar-fixed-offset {
    margin-top: $navbar-height;

    &-mt {
        margin-top: $navbar-height + 0.5rem;
    }
}

.navbar-left-offset {
    margin-left: 0;
    padding-left: $navbar-left-width;
}

.navbar {
    &.fixed-top {
        min-height: $navbar-height;
    }
}
