@import './mixins';

body {
    position: relative;
}

.center-vertical {
    @include center-vertical();
}

div.center-vertical {
    width: 100%;
    left: 0;
}

.bg-fixed {
    background-attachment: fixed;
    background-position: center;
}

.navbar-height {
    height: $navbar-height;
}

// offset the background image to account for fixed nav
.navbar-fixed-background-offset {
    background-position-y: $navbar-height !important;
}

a.route-anchor {
    display: block;
    position: relative;
    top: $navbar-height;
    visibility: hidden;
}

// sets the height to that of the background image. Will change if the
// background changes
.vh-background {
    height: 418px !important;
}

.center-background {
    background-position: center;
    background-size: initial !important;
    background-repeat: no-repeat;
}

.navbar-left-offset {
    margin-left: 0;
    padding-left: $navbar-left-width;
}

.navbar {
    &.fixed-top {
        height: $navbar-height;
    }
}
