@import './mixins';

body {
    position: relative;
}

.center-vertical {
    @include center-vertical();
}

div.center-vertical {
    width: 100%;
    left: 0;
}

.bg-fixed {
    background-attachment: fixed;
    background-position: center;
}

// offset the background image to account for fixed nav
.navbar-fixed-background-offset {
    background-position-y: $navbar-height !important;
}

.navbar-fixed-offset {
    margin-top: $navbar-height;

    &-mt {
        margin-top: $navbar-height + 0.5rem;
    }

    // sets the height to that of the background image. Will change if the
    // background changes
    &.vh-background {
        height: calc(418px) !important;
    }
}

.center-background {
    background-position: center;
    background-size: initial !important;
    background-repeat: no-repeat;
}

.navbar-left-offset {
    margin-left: 0;
    padding-left: $navbar-left-width;
}

.navbar {
    &.fixed-top {
        height: $navbar-height;
    }
}
