@import './bootstrap-variables';

$border-color: $table-border-color;

@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
$font-family-base: 'Signika', sans-serif, monospace !default;

@import '../../node_modules/bootstrap/scss/bootstrap';
@import './bootswatch';

@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';

html {
    letter-spacing: 0.05rem;
    font-size: 12px;

    @include media-breakpoint-up(md) {
        font-size: $font-size-base;
    }
}

@mixin transition-color($color) {
    background-color: $color !important;

    $bgTransition: background-color 250ms linear;
    -webkit-transition: $bgTransition;
    -ms-transition: $bgTransition;
    transition: $bgTransition;
}

// will only match if the scroll is at the top. see site.ts for how the scroll position is calculated
html[data-scroll='0'] {
    .navbar.fade-top {
        @include transition-color(rgba($secondary, 0.25));
    }
}

$navbar-height: 6vh;

.navbar-fixed-offset {
    padding-top: $navbar-height;
}

.navbar.fixed-top {
    min-height: $navbar-height;
}

.navbar-bold {
    @include transition-color(rgba($secondary, 1));
    @extend .text-success;

    padding-top: 0rem;
    padding-right: $navbar-brand-padding-y;
    padding-bottom: 0rem;

    text-shadow: 2px 2px $dark;

    .nav-link,
    .navbar-brand {
        text-transform: uppercase !important;
    }

    .nav-link {
        font-size: $font-size-sm;
        letter-spacing: 0.2rem;
    }

    .navbar-brand {
        font-size: $font-size-lg;
        letter-spacing: 0.3rem;
    }

    button.navbar-toggler:focus {
        outline: unset;
    }

    .navbar-toggler {
        background-color: $dark;

        .navbar-toggler-icon {
            @extend %fa-icon;
            @extend .fas;
            @extend .fa-lg;
            @extend .text-success;

            height: 100%; //needed for align-middle
            text-shadow: 2px 2px $dark;

            $trans: transform 0.35s ease-in-out !default;
            -moz-transition: $trans;
            -webkit-transition: $trans;
            transition: $trans;

            &:before {
                @extend .align-middle;
                content: fa-content($fa-var-chevron-down);
            }
        }
    }

    .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
        $rotate: rotate(180deg) !important;
        -ms-transform: $rotate;
        -moz-transform: $rotate;
        -webkit-transform: $rotate;
        transform: $rotate;
    }
}

.grow {
    transition: all 0.2s ease-in-out;
}
.grow:hover {
    transform: scale(1.03);
}

$sizes: (10, 20, 25, 50, 75);
@each $prop, $abbrev in (width: vw, height: vh) {
    @each $size in $sizes {
        .#{$abbrev}-#{$size} {
            #{$prop}: #{$size}$abbrev !important;
        }
    }
}

// hidden when the viewport is smaller than the provided grid breakpoint
@each $label, $size in $grid-breakpoints {
    @include media-breakpoint-down($label) {
        .hide-#{$label} {
            display: none;
        }
    }
}

.text-blue {
    color: $blue;
}

.text-pink {
    color: $pink;
}

.fas,
.no-highlight {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.loading-indicator {
    display: none;
}

.embed-responsive .embed-responsive-cover {
    object-fit: cover;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
