[*.cs]
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1055.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA2234.severity = none


dotnet_diagnostic.CS8019.severity = warning

dotnet_diagnostic.IDE0001.severity = suggestion
dotnet_diagnostic.IDE0002.severity = suggestion
dotnet_diagnostic.IDE0003.severity = suggestion
dotnet_diagnostic.IDE0047.severity = suggestion
dotnet_diagnostic.IDE0049.severity = suggestion

[**/Migrations/**.cs]
dotnet_diagnostic.CA1814.severity = none

[**/obj/**.cs]
dotnet_diagnostic.CS8019.severity = none

[**__virtual.cs]
dotnet_diagnostic.CS8019.severity = none