@page
@model Leaderboard.Pages.Contact
@{
    ViewData["Title"] = "Contact";
    ViewData["FormIdPrefix"] = "Contact";
}

<h2>hello world</h2>
<partial name="Forms/_ContactFormPartial" for="ContactModel" />