@page
@model Leaderboard.Pages.Index

@{
  ViewData["Title"] = "Home Page";
  ViewData["navFadeTop"] = true;
}

@section beforeContainer {
  <div class="navbar-fixed-offset card bg-dark" style="max-height: 90vh; overflow: hidden; border: unset;">
    <div class="shadow-bottom">
      <img
          class="card-img"
          style="opacity: 0.4;"
          alt="Board"
          src="https://bloximages.chicago2.vip.townnews.com/thetandd.com/content/tncms/assets/v3/editorial/5/bc/5bc01127-ae03-52f4-b26b-923cde93f914/5afdb85c7e6c3.image.jpg"
      />
    </div>
    <div class="card-img-overlay">
      <div id="image-overlay" class="center-vertical text-center"></div>
    </div>
  </div>
}

<h1>Leaderboard Home</h1>

<react-root>

</react-root>

@section scripts {
    <react-bundle src="js/home.[hash].js" />
    <react-component component-name="home" element-id="image-overlay" props="Model.Props" />
}
