@page

@{
  ViewData["Title"] = "Home Page";
  ViewData["navFadeTop"] = true;
}

@section beforeContainer {
  <div class="embed-responsive embed-responsive-4by3" style="max-height: 90vh;">
      <img
          class="embed-responsive-item embed-responsive-cover"
          alt="Board"
          src="https://www.toyoda.com/uploads/images/_mediumFitImage/Integrated-logo.png"
      />
  </div>
}

<h1>Leaderboard Home</h1>
