@page

@{
  ViewData["Title"] = "Home Page";
}

@section styles {

}

<div id="root">
  <partial name="_LoadingPartial" />
</div>

@section scripts {
    <react-component src="js/home.[hash].js" element-id="root" />
}