@page "~/{division:slug}/{gender:gender}/{weightClass:range}/{slug:slug}"
@using Leaderboard.Areas.Leaderboards.Pages.Boards
@model ViewModel

<span class="container" id="root">
  <div id="scores"></div>
  <partial name="_LoadingPartial" />
</span>

@section scripts {
    <react-bundle src="js/board/view.[hash].js" />
    <react-component component-name="board/view" props="Model.Props" />
}
