@{
ViewData["Title"] = "Home Page";
}

@section css {
    <react-bundle src="css/home.[hash].css" />
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div id="root"></div>
</div>

@section js {
    <react-component src="js/home.[hash].js" props="@Model" element-id="root" />
}