@{
ViewData["Title"] = "Home Page";
}

@section styles {

}

<div id="root">
  <div class="text-center">
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

@section scripts {
    <react-component src="js/home.[hash].js" props="@Model" element-id="root" />
}